.main_page {
    display: flex;
    align-items: center;
    justify-content: center;
    

     background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(50,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23040101'/%3E%3Cstop offset='1' stop-color='%23962800'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='15' height='15' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='7.5' cy='7.5' r='7.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.09'/%3E%3C/svg%3E");
    background-attachment: fixed;
    height: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: 60vw;
    height: 95%;
    margin: 10px 0px;
}

.parent > div{
    background-color: rgba(128, 128, 128, 0.667);
    border-radius: 12px;

    /* outline */
    outline: 2px solid light-dark(hsl(0, 0%, 42%), hsl(0 0% 20%));
}

.user_section{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    

    display: flex;
    flex-direction: column;
}

.timer_section{
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;

}

.graph_section{
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* ........ */
.cronometro{
    flex-direction: column;
    
    padding: 80px 0px;
}
.timer{
    font-family: monospace;
    font-size: 40px;
}
.controls{
    display: flex;
}
.controls>button{
    margin: 4px;
    height: 30px;
    width: 70px;
    border: none;
}