.login_page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #e3e889;
background: linear-gradient(360deg, rgb(232, 208, 137) 0%, rgba(240, 240, 240, 1) 58%); */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(50,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23040101'/%3E%3Cstop offset='1' stop-color='%23962800'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='15' height='15' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='7.5' cy='7.5' r='7.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.09'/%3E%3C/svg%3E");
    background-attachment: fixed;
}

.form_box {
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.132);
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.39);
    /* opacity: 0.5; */
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.785) 0%, rgba(215, 214, 214, 0.823) 58%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content:space-around;
    height: 70%;
    padding: 10px;
}

form>h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;
}

form>input {
    width: 80%;
    height: 100px;
    border-radius: 12px;
    border: none;
    padding-left: 20px;
    background-color: #e9e8e8db;
    margin-bottom: 10px;
}

.submit_btn {
    width: 80%;
    height: 100px;
    border-radius: 12px;
    border: none;
    background: #000000;
    color: white;
    font-family: sans-serif;
    margin-bottom: 30px;

    transition: ease-in-out 0.2s;
}
.submit_btn:hover{
    background-color: #792323;
    cursor: pointer;
}

.signin_icon {
    height: 65px;
    width: 65px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.132);
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.39);
}

.signin_icon>img {
    height: 40px;
    width: 40px;
}